{% extends "layout.html" %}
{% block content %}
        <header style="background-color:purple;" class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar"><div class="navbar-nav-scroll">
                <ul class="navbar-nav bd-navbar-nav flex-row">
                  <li class="nav-item">
                    <a class="nav-link" href="/" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Bootstrap');"><img src="https://i.ibb.co/tYnNvRX/logo.png" alt="logo" height="50" width="50"></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" style="margin-top:11px;" href="/" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Bootstrap');">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/login" style="margin-top:11px;" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Docs');">Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link " href="/signup" style="margin-top:11px;" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Examples');">Sign Up</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="/aboutus" style="margin-top:11px;" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Themes');">About Us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/contactus" style="margin-top:11px;" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Expo');">Contact Us</a>
                  </li>
                </ul>
              </div></header>
{% endblock content %}