<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center"><a href="/"><img src="https://www.brandcrowd.com/gallery/brands/pictures/picture13704486508059.jpg" alt="HOME"></a></div></br>
                <center><a href="/login"><font size="5"><button type="button" class="btn btn-danger btn-lg">LOGIN</button></font></a></center></br></br>
                <center><a href="/login"><font size="5"><button type="button" class="btn btn-success btn-lg">SIGNUP</button></font></a></center>
            </div>
        </div>
    </div>
</body>
</html>