{% extends "layout.html" %}
{% block content %}
        <header style="background-color:purple;" class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar"><div class="navbar-nav-scroll">
                <ul class="navbar-nav bd-navbar-nav flex-row">
                  <li class="nav-item">
                    <a class="nav-link active" href="/" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Bootstrap');"><img src="https://i.ibb.co/tYnNvRX/logo.png" alt="logo" height="50" width="50"></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" style="margin-top:11px;" href="/" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Bootstrap');">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/login" style="margin-top:11px;" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Docs');">Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link " href="/signup" style="margin-top:11px;" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Examples');">Sign Up</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/aboutus" style="margin-top:11px;" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Themes');">About Us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/contactus" style="margin-top:11px;" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Expo');">Contact Us</a>
                  </li>
                </ul>
              </div></header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center"><a href="/"><img src="https://i.ibb.co/tYnNvRX/logo.png" alt="HOME"></a></br>
                <a href="/login"><button type="button" class="btn btn-danger btn-lg"><font size="5"><b>LOGIN</b></font></button></a><br><br>
                <a href="/login"><button type="button" class="btn btn-success btn-lg"><font size="5"><b>SIGNUP</b></font></button></a><br><br>
                <a href="/contactus"><button type="button" class="btn btn-warning btn-lg"><font size="3"><b>CONTACT US</b></font></button></a>
            </div>        
            </div>
        </div>
        <footer style="text-align:right;font-size:75%">
          Copyright &copy; Haridev
  </footer>
    </div>
    {% endblock content %}