<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
            <a href="/"><button type="button" class="btn btn-primary btn-lg btn-block"><font size="6">MY HOME</font></button></a>
            </div>
            <div class="col-sm-4">
                <table>
                    <tr>
                        <td><font size="2">Email or Phone</font></td>
                        <td><font size="2">Password</font></td>
                    </tr>
                    <tr>
                        <td><input type="text"></td>
                        <td><input type="password"></td>
                        <td><button type="button" style="height:38px;width:70px" class="btn btn-primary"><font size="2">Log In</font></button></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><a href="/forgotpassword"><font size="1">Forgotten Password?</font></a></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-7"></div>
            <div class="col-sm-4">
                <font size="6"><b>Create an account</b></font><br/>
                <font size="4">It's Free and always will be.</font><br/>
                <table>
                    <tr>
                        <td>
                                <input type="text" class="form-control" placeholder="First Name" aria-label="First Name" aria-describedby="addon-wrapping">
                        </td>
                        <td>
                                <input type="text" class="form-control" placeholder="Last Name" aria-label="Last Name" aria-describedby="addon-wrapping">
                        </td>
                    </tr>
                </table>
                <input type="text" class="form-control" placeholder="Mobile number or email address" aria-label="Mobile number or email address" aria-describedby="addon-wrapping">
                <input type="text" class="form-control" placeholder="New password" aria-label="New password" aria-describedby="addon-wrapping">
                </br>Birthday</br>
                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Day</button>
                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Month</button>
                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Year</button></br>
            </div>
            <div class="col-sm-7"></div>
            <div class="col-sm-3">
                <font size="1">By clicking Sign Up, you agree to our <a href="/terms">Terms</a>, <a href="datapolicy">Data Policy</a> and <a href="cookiepolicy">Cookie Policy</a>. You may receive SMS notifications from us and can opt out at any time.</font></br>
                <a href="/signup"><button type="button" class="btn btn-primary btn-lg">Sign up</button></a>
            </div>
            </div>
        </div>
    </div>
</body>
</html>