<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Error!</title>
</head>
<body>
    <div class="text-center">
    <img src="https://i.ibb.co/LQvFt3m/maintenanceimage300x296.jpg" class="rounded" alt="Under Maintenance">
    <h1>Working on it!!!</h1>
    Sorry for your inconvenience...</br></br>
    <a href="/login"><button type="button" class="btn btn-dark">Go Back</button></a>
    </div>
</body>
</html>